{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages  %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}
    {% endif %}

    {% if all_items %}
        <table class="table table-bordered table-hover">
            <thead class="text-center">
                <th>Title</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
            {% for item in all_items %}
                {% if item.completed %}
                    <tr class="table-secondary">
                        <td class="stricker">{{ item.item }}</td>
                        <td class="text-center">
                            <span class="badge badge-success"><a href="{% url 'status_not_completed' item.id %}">Completed</a></span>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'delete' item.id %}" onclick="return confirm('Are you sure?')" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ item.item }}</td>
                        <td class="text-center">
                            <span class="badge badge-warning"><a href="{% url 'status_completed' item.id %}">Not Completed</a></span>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'delete' item.id %}" onclick="return confirm('Are you sure?')" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}